.main-screen {
	background-color: #FFF;
	background-image: url(img/background.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto;
	display: flex;
	flex-direction: column;
	padding-left: 5%;

}
.row {
	display: flex;
	flex-direction: : row;
	justify-content: space-between;
	padding-right: 80px;
}


.slogan h1 {
	color: #000;
	font-size: 60px;
	padding-top: 80px;
}
.slogan p {
	color: #000;
	font-size: 36px;
}

.icon-list {
	padding-top: 30px;
	list-style-type: none;
}
.icon-list li {
	margin-top: 5px;
  	padding: 0px 0px 0px 25px;
	background: url(img/point_list.svg);
	background-repeat: no-repeat;
	font-size: 20px;
	line-height: 30px;
}

.btn-contacts {
	display: flex;
	background-color: #F6C67E;
	width: 320px;
	height: 70px;	
	margin-top: 30px;
	margin-bottom: 50px;
	transition: background .2s linear;
}
.btn-contacts:hover {
	background: #F3953F;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
}
.btn-contacts a {
	text-decoration: none;
	color: #000;
}
.btn-contacts p {
	font-size: 40px;
	text-align: center;
	margin: auto;
}

.banner {
	background-color: rgba(246, 198, 126, 0.57);
	width: 400px;
	height: 150px;
}
.banner a {
	text-decoration: none;
	color: #E14E0E;
}
.banner p {
	color: #E14E0E;
	font-size: 60px;
	text-align: center;
	margin: auto;
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.51);
}

.courses {
	padding-left: 5%;
	display: flex;
	padding-top: 80px;
	justify-content: space-between;
}

.course-banner {
	background-color: rgba(246, 198, 126, 0.57);
	width: 316px;
	height: 165px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.course-banner p {
	color: #E14E0E;
	font-size: 70px;
	text-align: center;
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.51);
}
.ege-pic img {
	padding-top: 70px;
	width: 310px;
	height: auto;
}
.cards {
	display: flex;
	justify-content: space-around;
}
.card {
	margin-left: 20px;
	margin-right: 20px;
	width: 335px;
	height: 500px;
	background: #FDFEC8;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.card:hover {
	box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}
.card-container {
	padding: 19px;
	background: #fff;
}
.card-container p {
	font-size: 24px;
	line-height: 28px;
	align-items: center;
	text-align: center;
}
.card-info {
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
.money img {
	padding-left: 20px;
	padding-right: 10px;
	height: 21px;
	width: auto;
}
.money p {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	align-items: center;
	text-align: right;
	color: #E14E0E;
}

.info img {
	padding-right: 5px;
	height: 25px;
	width: auto;
}
.info p {
	padding-right: 5px;
	font-size: 22px;
	line-height: 26px;
	align-items: center;
	text-align: right;
}
.oge-pic img {
	width: 220px;
	height: auto;
	padding-left: 90px;
	padding-top: 30px;
}

.course-banner .ind {
	font-size: 36px;
}










@media screen and (max-width: 850px) {

	.main-screen {
		background-size: cover;
		background-position: right top;
		height: 600px;
		display: flex;
		flex-direction: column;
		padding-left: 5%;
		
	}
	
	.slogan h1 {
		color: #000;
		font-size: 30px;
	}
	.slogan p {
		color: #000;
		font-size: 25px;
		padding-top: 0px;
	}

	.list {
		padding-top: 0px;
	}
	.icon-list {
		padding-top: 30px;
		list-style-type: none;
	}
	.icon-list li {
		margin-top: 5px;
	  	padding: 0px 0px 0px 25px;
		background: url(img/point_list.svg);
		background-repeat: no-repeat;
		font-size: 20px;
		line-height: 30px;
	}

	.btn-contacts {
		display: none;
	}
	
	.banner {
		background-color: rgba(246, 198, 126, 0.57);
		width: 300px;
		height: 100px;
		margin-top: 5%;
	}
	.banner a {
		text-decoration: none;
		color: #E14E0E;
	}
	.banner p {
		color: #E14E0E;
		font-size: 40px;
		text-align: center;
		margin: auto;
		text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.51);
	}

	.courses {
		padding-left: 0px;
		flex-direction: column;
		padding-top: 50px;
	}
	.course-info {
		display: flex;
		justify-content: center;
	}

	.course-banner {
		display: flex;
    	justify-content: center;
    	width: 350px;
		height: 100px;
		margin-bottom: 20px;
	}
	.course-banner p {
		font-size: 50px;
	}
	.ege-pic img {
		display: none;
	}
	.cards {
		display: flex;
		justify-content: space-around;
	}
	.card {
		margin-left: 0px;
		margin-right: 0px;
		width: 200px;
		height: 300px;
		background: #FDFEC8;
		box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
	}
	.card img {
		width: 200px;
		height: auto;
	}
	.card-container {
		padding: 10px;
		background: #fff;
	}
	.card-container p {
		font-size: 15px;
		line-height: 20px;
		align-items: center;
		text-align: center;
	}
	.card-info {
		display: flex;
		justify-content: space-between;
		background: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.money img {
		padding-left: 5px;
		padding-right: 5px;
		height: 15px;
		width: auto;
	}
	.money p {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		align-items: center;
		text-align: right;
		color: #E14E0E;
	}

	.info img {
		padding-right: 5px;
		height: 15px;
		width: auto;
	}
	.info p {
		padding-right: 5px;
		font-size: 14px;
		line-height: 20px;
		align-items: center;
		text-align: right;
	}
	.oge-pic img {
		display: none;
	}
}





@media screen and (max-width: 450px) {
	.main-screen {
		background-image: url(img/background-m.svg);
		height: 850px;
		background-size: cover;
		background-position: right top;
		display: flex;
		flex-direction: column;
		padding-left: 5%;
	}

	.slogan h1,
	.slogan  p{
		color: #fff;
	}
	
	.icon-list {
		margin-top: 50px;
	}
	.icon-list li {
		color: #fff;
	}
	.banner {
		margin-top: 280px;
		width: 250px;
		height: 80px;
	}
	
	.banner p {
		font-size: 35px;
		text-align: center;
	}
	.course-banner {
		width: 200px;
		height: 60px;
	}
	.course-banner p {
		color: #E14E0E;
		font-size: 30px;
	}
	.cards {
		flex-direction: column;
	}

	.card {
		margin: auto;
		margin-top: 20px;
	}

	.course-banner .ind {
		font-size: 20px;
	}


	
}
